<section class="container-fluid d-flex justify-content-center align-items-center h-100 p-5">
    <div class="w-100 ">
        <!--Title-->
        <div class="p-5">
            <h1 class="text-center">Mind Body Soul</h1>
            <h1 class="text-center">Attendance Processing</h1>
        </div>

        <!--Date Picker-->
        <div class="input-group mb-3 align-items-center">
            
            <span class="input-group-text" id="basic-addon1">Payroll Date Range <app-tooltip class="px-2" text="This is to select the date range of the payroll being processed." position="top"></app-tooltip></span>
            <div class="flex-grow-1">
                <app-date-range-picker class="w-100"
                    (dateRangeSelected)="onRangeSelected($event)">
                </app-date-range-picker>
            </div>
        </div>

        <!--Input File Picker-->
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Input File" [value]="inputFile?.FileName" disabled>
            <button class="btn btn-block btn-primary w-25" (click)="selectFile()">Select Appointment File</button>
        </div>

        <!--Output File Format Selection-->
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Output Format <app-tooltip class="px-2" text="This is to select the format of the output file." position="top"></app-tooltip></span>

            <select class="form-select" [(ngModel)]="outputFormat" aria-label="Output Format">
                <option *ngFor="let format of outputFormats" [value]="format">{{format}}</option>
            </select>
        </div>

        <!--Output File Name-->
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Output File" [value]="outputFile?.FileName" disabled>
        </div>

        <!--Process Button-->
        <button class="btn btn-block btn-primary w-100" (click)="processFile()">Process File</button>
    </div>
</section>