/*Global Styles*/
/*Default html, body*/
html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  border: 0;
}

/* Define CSS variables for background and text color*/
:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --sidenav-bg-color: #d0d0d0;
  --table-bg-color: #ffffff;
}

/*Default Dark Mode set variables then background and text*/
.dark-mode {
  --bg-color: #222222;
  --text-color: #ffffff;
  --sidenav-bg-color: #333333;
  --table-bg-color: #333;

  /*Set the body bg and color*/
  background-color: var(--bg-color);
  color: var(--text-color);
}


