/*Global Styles*/
/*Default html, body*/
html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  border: 0;
}

/* Define CSS variables for background and text color*/
:root {
  --bg-color: #ffffff;
  --text-color: #000000;
}

.dark-mode {
  --bg-color: #222222;
  --text-color: #ffffff;
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
}


/*TAble*/
.dark-mode table {
  border: 1px solid #111 !important
}

.dark-mode table thead tr th {
  background-color: #222 !important;
  color: #fff !important;
}

.dark-mode table tbody tr td {
  background-color: #333 !important;
  color: #fff !important;
}

/* Sidebar */
.dark-mode .sidebar {
  background-color: #333 !important;
}

.dark-mode .nav-link {
  color: #ccc !important;
}

.dark-mode .nav-link:hover {
  color: #fff !important;
}

.dark-mode .active-link {
  background-color: #007bff !important;
  color: #fff !important;
}