.sidebar {
    height: 100vh;
    padding: 1rem;
    position: sticky;
    left: 0;
    top: 0;
    overflow-y: auto;
    width: 250px;
    background-color: var(--sidenav-bg-color) !important;
  }
  
  .nav-link {
    font-weight: 500;
    padding: .5rem;
    border-radius: .5rem;
    color: var(--text-color);
  }
  
  .nav-link {
    &.active {
      background-color: #007bff !important;
    }
  }

  .nav-link:hover {
    color: var(--bg-color) !important;
    background-color: var(--text-color) !important;
  }
  
  /* .nav-link {
    &.active:hover {
      background-color: #007bff !important;
    }
  } */

  /* Adjust main content to avoid overlap */
  .container-fluid .row {
    margin-left: 200px;
  }
